<mat-toolbar color="primary">
    <button mat-raised-button routerLink="/home" (click)="emptyCart()">Back To Home</button>
</mat-toolbar>

<mat-card *ngIf="cartStatus==false">
    Nothing To Checkout!</mat-card>


<mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="cartStatus==true">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> UnitPrice </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef> Count </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.count}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
        <mat-header-cell *matHeaderCellDef> TotalPrice </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalPrice}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-card *ngIf="cartStatus==true">
    <mat-card-content class="content">
        <strong>{{totalItemCount}}</strong>

        <strong class="price">{{totalPrice}} Rs</strong>
    </mat-card-content>

</mat-card>